<!DOCTYPE html>
<html lang="en" ng-app="StarterApp">
    <head>
        <link rel="stylesheet" href="bower_comp/angular-material/angular-material.min.css">
        <!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic"> -->
        <meta name="viewport" content="initial-scale=1" />
        
    </head>
    <body layout="column">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                Test
            </md-button>
            <h1>Hello World</h1>
        </div>
    </md-toolbar>   

<div ng-controller="AppCtrl">
  <div>
    <md-button ng-click="showAlert()" class="md-raised md-warn">
      Employee Alert!
      </md-button>
  </div>
  <div>
    <md-button ng-click="showDialog($event)" class="md-raised">
      Custom Dialog
      </md-button>
  </div>
  <div>
    <md-button ng-click="closeAlert()" ng-disabled="!hasAlert()" class="md-raised">
      Close Alert
    </md-button>
  </div>
  <div>
    <md-button ng-click="showGreeting($event)" class="md-raised md-primary">
      Greet Employee
      </md-button>
  </div>
</div>

    
    <!-- Angular Material Dependencies -->
    <script src="bower_comp/angular/angular.min.js"></script>
    <script src="bower_comp/angular-animate/angular-animate.min.js"></script>
    <script src="bower_comp/angular-aria/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
    <script src="bower_comp/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="am.js"></script>
</body>
</html>


